@charset "UTF-8";

body {
   background-color: rgba(141, 31, 31, 0.52);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}
h1 {
   color: rgba(234, 250, 6, 0.986);
   background-color: rgba(112, 222, 230, 0.486);
}
h2 {
   color: rgb(149, 40, 86);
}
p {
   color: blanchedalmond;
   text-align: justify;

}